{% extends "baseguestbook.html" %}

{% block title %}Posamezno sporocilo{% endblock title %}

{% block specifika %}
    <h1>Movie</h1>

    <p>Name: {{ movie.name }}</p>
    <p>Score: {{ movie.score }}</p>
    <p>Url: {{ movie.url }}</p>
    <p>Image_url: {{ movie.image_url }}</p>
    <form action="/sporocilo1/{{ movie.key.id() }}/dokoncnoizbrisi" method="post">
    <button type="submit">Delete</button>
    </form>
    <form action="/sporocilo1/{{ movie.key.id() }}/povrni" method="post">
    <button type="submit">Return</button>

{% endblock specifika %}